<h1>Actions</h1>
<p>
	There is a list of actions that are small, fine-grained and preferably easily automated e.g., start, stop, restart. Each page would need to evaluate "implemented", "partially implemented", "not yet implemented", or "not applicable".
</p>

<h2>Process control</h2>
<dl>
	<dt>Start</dt>
	<dd>Ensure process is running</dd>

	<dt>Stop</dt>
	<dd>Ensure process is not running</dd>

	<dt>Restart</dt>
	<dd>Should be a combination of stop then start</dd>

	<dt>Auto-restart</dt>
	<dd>Configures crontab / system to start process if found stopped. Should set expectations: how long</dd>

	<dt>Status</dt>
	<dd>Determines current status (e.g., starting up, running, not running)</dd>
</dl>