<h1>Installing software on macOS via Homebrew</h1>
<p>This guide will show you how to install and use Homebrew on your Mac. Homebrew is a package manager which will allow you to install lots of software for use with your slot.</p>
<p>Using the guide does mean you'll need to open up the terminal and run some commands, but they should hopefully be straight-forward. Copying and pasting is used where possible to make things even easier.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installing-homebrew">Installing Homebrew</a></li>
    		<li><a href="#installing-software">Installing software with Homebrew</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installing-homebrew">Installing Homebrew</h2>
<p>You'll need to run the commands to install Homebrew in the terminal. To access the terminal, access your <samp>Applications</samp> folder, then open <samp>Utilities</samp>. You'll see <samp>Terminal</samp> in the list. To save time in the future you can drag the icon for <samp>Terminal</samp> on to the Dock.

Once you have a terminal window open, copy and paste this command:</p>
<p><kbd>ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</kbd></p>
<p>The script will take you through step-by-step so please follow its instructions. You may receive this message during the process:</p>
<p><samp>The "xcode-select" command requires the command line developer tools. Would you like to install the tools now?</samp></p>
<p>If you do get this message, simply click <kbd>Install</kbd> (you do <em>not</em> need to choose <samp>Get Xcode</samp>.</p> 
<p>Continue following the instructions of the script and eventually it will complete. You'll be prompted to run <kbd>brew doctor</kbd> prior to installing anything - do so, simply by copying and pasting that as a command.</p>

<h2 id="installing-software">Installing software with Homebrew</h2>
<p>Before installing any software, make sure to run <kbd>brew update</kbd> each time to ensure Homebrew is up-to-date. Then, it should be super simple to actually install the software, simply by using the command below, changing <var>software</var> to the name of the software:
<p><kbd>brew install <var>software</var></kbd></p>
<p>So, the following example would install <a href="ftp/lftp">lftp</a>:</p>
<p><kbd>brew install lftp</kbd></p>
