<h1>Restarting Software</h1>
<p>This guide will link to the relevant sections of the wiki covering how to restart the various softwaere.</p>
<p>You'll likely need to execute some commands via SSH to restart software. There is a guide on how to  <a href="../slots/ssh">connect to your slot via SSH</a>.</p>

<ul>
    <li><a href="../software/autodl-irssi#start-stop-restart">autodl-irssi</a></li>
    <li><a href="../software/deluge#start-stop-restart">Deluge</a></li>
    <li><a href="../software/emby#start-stop-restart">Emby</a></li>
    <li><a href="../software/jackett#start-stop-restart">Jackett</a></li>
    <li><a href="../software/lidarr#start-stop-restart">Lidarr</a></li>
    <li><a href="../software/madsonic#start-stop-restart">Madsonic</a></li>
    <li><a href="../software/radarr#start-stop-restart">Radarr</a></li>
    <li><a href="../software/rutorrent#start">Rutorrent</a></li>
    <li><a href="../software/Sonarr#start-stop-restart">Sonarr</a></li>
    <li><a href="../software/transmission#start-stop-restart">Transmission</a></li>
</ul>

<p>Software installed through the site's manager will automatically be restarted. Consider setting up a <a href="cron">cron to automatically restart wiki-based software</a>.</p>